* {
    font-family: 'Ubuntu', sans-serif !important
}


@keyframes rAinbowNimate {
		from {
		  color: #00ffbf;
		}
		14.2% {
		  color: #0000FF;
		}
		28.5% {
		  color: #4B0082;
		}
		42.8% {
		  color: #8B00FF;
		}
		57.14% {
		  color: #FF0000;
		}
		  71.4% {
		  color: #FF7F00;
		}
		  85.7% {
		  color: #FFFF00;
		}
		  100% {
		  color: #00FF00;
		}
		}
		.rainbow {
		animation: rAinbowNimate 10s linear infinite alternate;
		}


		tr {
		  text-align: left;
		}

		body {
		  background-color: #696969
		}
